*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(9, 14, 33);
}

#lista{
    list-style: none;


}

.item{
    margin: 10px;
}

.cap-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(107, 110, 122);
    margin: 14px;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
}

.contenedor{
    
    width: 60%;
    text-align:0 center;
    margin: 0 auto;
    padding: 0;
   
   
}
.conteiner{

    margin: auto;
    text-align: center;
    height:300px; 
    overflow: scroll;
    
}
.contenedor-general  a{
    
    color: rgb(123, 129, 177);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.volver{
    color: rgb(19, 18, 17);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    

    
    padding: 20px;
    
}

.volver a{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(107, 110, 122);
    padding: 20px;
    margin-top: 5px;
    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}
.contenedor-general{
    display: flex;
    width: 40%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:0 center;
    margin: 0 auto;
    background-color: rgb(18, 24, 50);
    color: rgb(123, 129, 177);
    
}

.img-manhua-contenedor{
    width: 100%;
    margin: auto;
    padding: 8px;
    text-align: center;
    
}
.img-manhua-contenedor img{
    width: 100%;
    border-radius: 15px;
    padding-bottom: 15px;
}

.botones{
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
    margin: auto;
    

}

.btn-link{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid rgb(107, 110, 122);
    border-radius: 6px;
    padding: 7px 15px;
}

.paginas{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.nombre{
    font-size: 25px;
}


.img-manhua{
    width: 25%;
    margin: auto;
    text-align: center;
    color: rgb(123, 129, 177);
    background-color: rgb(18, 24, 50);
    padding: 15px;
    border-radius: 15px;
}

.img-manhua img{
    width: 100%;
    border-radius: 15px;
}


.img-manhua p{
    width: 40%;
    margin: auto;
}


@media (max-width: 768px){
    .contenedor{
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .paginas{
        width: 100%;
    }

       
    .botones{
        display: flex;
        justify-content: space-between;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .img-manhua{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    
    .img-manhua img{
        width: 80%;
    }
    .img-manhua p{
        width: 90%;
        margin: auto;
    }


    .contenedor-general{
        display: block;
        width: 80%;
        padding-top: 30px;
        text-align:0 center;
        margin: 0 auto;
        background-color: rgb(18, 24, 50);
        color: rgb(123, 129, 177);
    
        
    }
    
    .img-manhua-contenedor{
        width: 100%;
        margin: auto;
        padding: 8px;
        text-align: center;
    }
    .img-manhua-contenedor img{
        width: 100%;
    }

    
    
}